# files which should not be included in any repository

# OS directory files
.directory
*/.directory

# editor backup files
*~
*kate-swp
*/*~
*/*kate-swp

# built folder content (.html, .doc, .pdf)
*build/*
*/*build/*

# deployment folder content
*deploy/*
*/*deploy/*

# static folder content
# *static/*
*/*static/*
# *include/*
*/*include/*

# keep directories which include .gitkeep
!.git_keep
!.gitkeep
!*/.git_keep
!*/.gitkeep